<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.MoslemApp"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.activities.SurahDetailActivity" />
        <activity android:name=".ui.activities.HadithDetailActivity" />
        <activity android:name=".ui.activities.LoginActivity"
            android:theme="@style/Theme.MoslemApp" />
        <activity 
            android:name=".ui.activities.ReminderActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" 
            android:excludeFromRecents="true"
            android:showOnLockScreen="true"
            android:launchMode="singleInstance" />

        <receiver android:name=".receivers.PrayerAlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <activity android:name=".ui.activities.TasbihActivity" />
        <activity android:name=".ui.activities.DetailActivity" />
        <activity android:name=".ui.activities.DuaActivity" />
        <activity android:name=".ui.activities.PurchaseActivity"
            android:label="Prayer Tracker"
            android:theme="@style/Theme.MoslemApp"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".ui.activities.PrayerTrackerActivity"
            android:label="Prayer Tracker"
            android:theme="@style/Theme.MoslemApp"
            android:parentActivityName=".MainActivity"/>
            
        <activity android:name=".ui.activities.QiblaActivity"
            android:label="Qibla Compass"
            android:theme="@style/Theme.MoslemApp"
            android:screenOrientation="fullSensor"
            android:parentActivityName=".MainActivity"
            tools:ignore="DiscouragedApi" />
        
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
